.welcome-page-container {
  /* display: flex;
    justify-content: flex-end;
    align-items: flex-start;  */
  width: 100vw;
  height: 100vh;
}

.welcome-content {
  /*   display: flex;
    flex-direction: row;
    align-items: flex-start;  */
}

.logout-button {
  cursor: pointer;
}
/* Dark Mode */
.dark-mode {
  background-color: #333;
  color: #fff;
}
.dark-mode-modal {
  color: #fff;
}

/* Light Mode */
.light-mode {
  background-color: #fff;
  color: #333;
}

.light-mode-modal {
  color: #333;
}

.menu-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.pagination-container {
  display: flex;
  justify-content: center;
}
.m-b-10 {
  margin-bottom: 10px;
}
