.welcome-page-container {
/*    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100vh;  */
}

.welcome-content {
/*    display: flex;
    flex-direction: row;
    align-items: flex-start;  */
}

.logout-button {
    cursor: pointer;

}
/* Dark Mode */
.dark-mode {
    background-color: #333;
    color: #fff;
}

/* Light Mode */
.light-mode {
    background-color: #fff;
    color: #333;
}

.menu-container {
    margin-top: 20px;
    margin-right: 100px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.pagination-container {
    display: flex;
    justify-content: center;
}